body{
    margin-top: 35px;
    background: #000;
}

@font-face {
    font-family: ralewayBold;
    src: url(Raleway-Bold.otf);
}
.textbox {
    color: #fff;
    position: absolute;
    top: 930px;
    left: 100px;
    font-weight: bold;
    font-family: ralewayBold;
}
.tag{
    height: 16px;
    text-transform: uppercase;
    vertical-align: middle;
}
.time{
    height: 95px;
    vertical-align: middle;
}
.row {
    overflow:hidden;
    zoom:1;
    width:130%;
}
img {
    float: left;
    /*-webkit-animation: slidein .75s forwards;*/
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
}
/* Safari and Chrome */
 @-webkit-keyframes slidein {
    from {
        margin-left: -50px;
    }
    to {
        margin-left: 0
    }
}
