body {
	background: #000;
}

.flip {
	float: left;
	width: 160px;
	height: 160px;
	border: 2px solid #000;
	overflow: hidden;
	position: relative;
}

	.flip img {
		max-width: 160px;
		position: absolute;
		top: 0;
		left: 0;

	}
